<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57482573473-fsq5rptlda8nj3nl05ads99lem9al7ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57482573473-fsq5rptlda8nj3nl05ads99lem9al7ch</string>
	<key>API_KEY</key>
	<string>AIzaSyBuyJjP2wSkJ_NQn4aJcSyeOZRPd7MSp2A</string>
	<key>GCM_SENDER_ID</key>
	<string>57482573473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.g212gs.Marvelicious</string>
	<key>PROJECT_ID</key>
	<string>marvel-ee404</string>
	<key>STORAGE_BUCKET</key>
	<string>marvel-ee404.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57482573473:ios:1b6d98ce20b14af40ce2e0</string>
	<key>DATABASE_URL</key>
	<string>https://marvel-ee404.firebaseio.com</string>
</dict>
</plist>